<div class="profile-follow mt-4">
    <div class="profile-show-follow"> 
      <%= render "follow_count_text" %>
    </div>
    <div class="profile-show-follower">
      <%= render "follower_count_text" %>
    </div>
</div>