<div class="container">
    <nav class="navbar navbar-light">
      <a class="navbar-brand text-white">Muscle Master</a>
      <div class="navbar__sign-in-btn">
        <%= link_to "ログイン", new_user_session_path, class: "btn my-2 my-sm-0 bg-light text-top-color" %>
      </div>
    </nav>
  </div>