.tweet-new-page {
  max-width: 576px;
  background-color: #fff;
  padding: 1.25rem;
  width: 100%;
}

.tweet-new-page-container {
  background-color: #dddbdb;
  min-height: 100%;
}

.tweet-new-title {
  text-align: center;
  font-size: 28px;
  border-bottom: 2px solid #343a40;
  margin-bottom: 14px;
}


.tweet-error-message {
  color: red;
}

@media(max-width: 576px) {
  .tweet-new-mobile-text {
    font-size: 10px;
  }
  .tweet-new-title {
    font-size: 20px;
  }
}