.user-edit-page {
  background-color: #dddbdb;
  min-height: 100%;
}

#card-user-edit {
  width: 100%;
}

#image-list {
  text-align: center;
  padding: 20px 20px 0 20px;
}

.card-img-top {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  object-fit: cover;
  background-size: contain;
}

@media (max-width: 480px) {
  .user-edit-page {
    max-width: initial;
  }
}