.user-edit-page {
  background-color: #dddbdb;
  height: 100%;
}

.card-img-top {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  margin: 20px auto 0;
}

#card-user-edit {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

@media (max-width: 480px) {
  .user-edit-page {
    max-width: initial;
  }
  #card-user-edit {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
}