.login-color {
  transition: 0.3s all;
  &:hover {
    color: #FD3378;
    text-decoration: none;
  }
}

.sign-up-color {
  transition: 0.3s all;
  &:hover {
    color: #FD3378;
    text-decoration: none;
  }
}
