.user-show-page {
  height: 100%;
  background-color: #dddbdb;
}

.profile {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &-title {
    font-size: 36px;
    border-bottom: 2px solid #343a40;
  }
  &-default-img {
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 50%;
    background-image: url("~profile_default_img_128.png");
    background-size: contain;
  }
  &-img {
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 50%;
    background-size: contain;
  }
  &-name {
    font-size: 24px;
  }
  &-follow {
    display: flex;
  }
}

.profile-show-follow {
  margin-right: 48px;
}

.user-edit-btn {
  margin-top: 30px;
  background-color: #4689FF;
  border-radius: 4px;
  transition: 0.3s all;
  &:hover {
    background-color: #343a40;
    text-decoration: none;
  }
}

@media (max-width: 480px) {
  .profile {
    &-title {
      font-size: 24px;
    }
    &-default-img {
      height: 160px;
      width: 160px;
    }
    &-name {
      font-size: 18px;
    }
  }
}