.sign-up-page {
  min-height: 100%;
  background-color: #dddbdb;
}

#introduce_text {
  resize: none;
}

.btn-light {
  color: #616161;
}

.sign-up__submit-btn {
  background-color: #4689FF;
  height: 38px;
  transition: 0.3s all;
  &:hover {
    background-color: #343a40;
  }
}

@media (max-width: 576px) {
  .sign-up-page {
    max-width: initial;
  }
  .card {
    border: none;
    &-header {
      background-color: #fff;
    }
  }
}